<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.2.1.2" targetFramework="net48" />
  <package id="HidSharp" version="2.1.0" targetFramework="net48" />
  <package id="LibreHardwareMonitorLib" version="0.9.4" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.902.49" targetFramework="net472" />
  <package id="MSIAfterburnerNET.Common" version="1.0.2" targetFramework="net48" />
  <package id="MSIAfterburnerNET.HM" version="1.0.7" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Management" version="9.0.0" targetFramework="net48" />
</packages>