RewriteEngine On

# 404 URLS
ErrorDocument 404 /404.php
RewriteRule ^404(|/)$ 404.php

# WEBSITE MAIN URLS
RewriteRule ^ajax(|/)$ ajax.php
RewriteRule ^home(|/)$ index.php
RewriteRule ^login(|/)$ login.php
RewriteRule ^signup(|/)$ signup.php
RewriteRule ^created(|/)$ created.php
RewriteRule ^logout(|/)$ logout.php
RewriteRule ^settings(|/)$ settings.php
RewriteRule ^search(|/)$ search.php

# INFORMATION URLS
RewriteRule ^about(|/)$ about.php
RewriteRule ^terms(|/)$ terms.php
RewriteRule ^privacy(|/)$ privacy.php

# UPLOAD URLS
RewriteRule ^upload(|/)$ upload.php
RewriteRule ^my_uploads(|/)$ my_uploads.php

RewriteRule ^uploads_by/([A-Za-z0-9_-]+)(|/)$ uploads_by.php?user=$1&pid=1
RewriteRule ^uploads_by/([A-Za-z0-9_-]+)/([0-9]+)$ uploads_by.php?user=$1&pid=$2

# CATEGORY URLS
RewriteRule ^5inch(|/)$ cat.php?cid=1
RewriteRule ^5inch/([0-9]+)$ cat.php?cid=1&pid=$1

RewriteRule ^7inch(|/)$ cat.php?cid=2
RewriteRule ^7inch/([0-9]+)$ cat.php?cid=2&pid=$1

RewriteRule ^8p8inch(|/)$ cat.php?cid=3
RewriteRule ^8p8inch/([0-9]+)$ cat.php?cid=3&pid=$1

RewriteRule ^misc(|/)$ cat.php?cid=4
RewriteRule ^misc/([0-9]+)$ cat.php?cid=4&pid=$1

RewriteRule ^3p5inch(|/)$ cat.php?cid=5
RewriteRule ^3p5inch/([0-9]+)$ cat.php?cid=5&pid=$1

# RewriteRule ^tools(|/)$ cat.php?cid=6
# RewriteRule ^tools/([0-9]+)$ cat.php?cid=6&pid=$1

# RewriteRule ^tools(|/)$ cat.php?cid=7
# RewriteRule ^tools/([0-9]+)$ cat.php?cid=7&pid=$1

# RewriteRule ^misc(|/)$ cat.php?cid=8
# RewriteRule ^misc/([0-9]+)$ cat.php?cid=8&pid=$1

# MOD URLS
RewriteRule ^view(|/)$ view.php
RewriteRule ^view/([A-Za-z0-9_-]+)(|/)$ view.php?seo=$1
RewriteRule ^download(|/)$ download.php
RewriteRule ^download/([A-Za-z0-9_-]+)(|/)$ download.php?seo=$1
RewriteRule ^edit(|/)$ edit.php
RewriteRule ^edit/([A-Za-z0-9_-]+)(|/)$ edit.php?seo=$1

RewriteRule ^request(|/)$ request.php
RewriteRule ^request/(.+)$ request.php?fid=$1

# PROFILE USER URLS
RewriteRule ^user/([A-Za-z0-9_-]+)(|/)$ profile.php?username=$1

# ADMIN URLS
RewriteRule ^adm(|/)$ adm.php
RewriteRule ^adm_mods(|/)$ adm_mods.php
RewriteRule ^adm_edit(|/)$ adm_edit.php
RewriteRule ^adm_users(|/)$ adm_users.php
RewriteRule ^adm_settings(|/)$ adm_settings.php
RewriteRule ^adm_ads(|/)$ adm_ads.php
RewriteRule ^adm_search(|/)$ adm_search.php
RewriteRule ^edit_user(|/)$ edit_user.php

